<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>

  <body>
    <%= render 'shared/navigation' %>
    <%= render 'shared/notices' %>

    <div class="container-fluid">

    <%= yield %>
    </div>
    
    
  </body>
</html>
